body {
    background-color: antiquewhite;

}

.item h1 {
    font-family: cursive;
}

.item .back {
    height: 15px;
    width: 300px;
    transition: all 0.5s;
    bottom: 55px;
}

.item:hover .back {
    height: 30px;
}

.container h4 {
    background-image: linear-gradient(90deg, green, antiquewhite);
    background-clip: text;
    color: transparent;
}



#error {

    background-color: rgba(0, 0, 0, 0.1);

}



#errorInner {
    width: 50%;
    height: 35%;
    background-color: brown;
}
#errorInner h5 {
    font-size: 10px;
}


.fa-regular {
    cursor: pointer;
}


.firsttr td {
    font-size: 10px;
}

.table tr td button{
    font-size: 9px;
}
.table tr td a{
    font-size: 9px;
}