@media (min-width: 576px) {
    .firsttr td {
        font-size: 10px;
    }
    #errorInner {
        width: 50%;
      
    }
    #errorInner h5 {
        font-size: 10px;
    }
    .table tr td button{
        font-size: 9px;
    }
    .table tr td a{
        font-size: 9px;
    }
  }


@media (min-width: 768px) { 
    .firsttr td {
        font-size: 14px;
    }
    #errorInner {
        width: 35%;
      
    }
    #errorInner h5 {
        font-size: 15px;
    }
    .table tr td button{
        font-size: 12px;
    }
    .table tr td a{
        font-size: 12px;
    }
  }
 


@media (min-width: 992px) {
    .firsttr td {
        font-size: 16px;
    }
    #errorInner h5 {
        font-size: 17px;
    }
    .table tr td button{
        font-size: 15px;
    }
    .table tr td a{
        font-size: 15px;
    }
 }


@media (min-width: 1200px) { 
    .firsttr td {
        font-size: 18px;
    }
    #errorInner h5 {
        font-size: 20px;
    }
 }
 


@media (min-width: 1400px) { 
    .firsttr td {
        font-size: 20px;
    }
 }